*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  min-height: 100vh;
  background: linear-gradient(to bottom, rgb(4, 7, 46), rgb(13, 16, 63));
}

.Header{
  display: flex;
  height: 15vh;
}

.logo{
  display: flex;
  flex-grow: 0.3;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
}

.menu{
  display: flex;
  list-style: none;
  font-size: 30px;
  justify-content: center;
  flex-grow: 1;
}

.movil-menu{
  top: 0;
  left: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100vh;
  width: 100vw;
  z-index: 5;
  backdrop-filter: blur(4px);
  text-shadow: 0 0 20px #000;
}


.times, .bars{
  display: none;
}

.menu li{
  padding: 30px;
  cursor: pointer;
  outline: none;
  padding-bottom: 2px;
}

.link{
  text-decoration: none;
  color: #fff;
}

.link:hover{
  opacity: .5;
}
.link::after{
  content: "";
display: block;
margin: auto;
height: 3px;
width: 0px;
transition: all .5s;
}

.link:hover::after{
  width: 100%;
  background: #fff;
  opacity: .5;
}

@media screen and (max-width:750px) {
  .menu{
    display: none;
  }

  .bars{
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 6;
    color: #fff;
    cursor: pointer;
  }

  .bars:hover, .times:hover{
    color: lightgrey;
  }

  .times{
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 6;
    color: #fff;
    cursor: pointer;
  }

  .movil-menu{
    display: flex;
  }

  .movil-menu li{
    list-style: none;
    text-align: center;
    padding: 20px;
    font-size: 40px;
  }

}

